# Ansible managed: Traefik HelmChartConfig for K3s
# service.type ('LoadBalancer', 'ClusterIP', 'NodePort'),
# service.externalTrafficPolicy,
# deployment.kind,
# forwardedHeaders (trustedIPs / insecure, global + per-entrypoint),
# exposedPort, hostPort, and optional explicit nodePort.
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
{% set t_cfg = (k3s_traefik_config if (k3s_traefik_config is defined and k3s_traefik_config is mapping) else {}) %}
{% set t_svc = (t_cfg.service if (t_cfg.service is defined and t_cfg.service is mapping) else {}) %}
{% set t_deploy = (t_cfg.deployment if (t_cfg.deployment is defined and t_cfg.deployment is mapping) else {}) %}
{% set svc_type = t_svc.type | default('') %}
{% set svc_policy = t_svc.externalTrafficPolicy | default('') %}
{% if svc_policy | lower == 'local' %}
{%   set deploy_kind = 'DaemonSet' %}
{% else %}
{%   set deploy_kind = t_deploy.kind | default('') %}
{% endif %}
{% set t_fh = (t_cfg.forwardedHeaders if (t_cfg.forwardedHeaders is defined and t_cfg.forwardedHeaders is mapping) else {}) %}
{% if svc_type | length > 0 or svc_policy | length > 0 %}
    service:
{% if svc_type | length > 0 %}
      type: {{ svc_type }}
{% endif %}
{% if svc_policy | length > 0 %}
      spec:
        externalTrafficPolicy: {{ svc_policy }}
{% endif %}
{% elif k3s_disable_servicelb | default(false) | bool %}
    service:
      type: ClusterIP
{% endif %}
{% if deploy_kind | length > 0 %}
    deployment:
      kind: {{ deploy_kind }}
{% endif %}
{% set t_ports = (t_cfg.ports if (t_cfg.ports is defined and t_cfg.ports is mapping) else {}) %}
{% set t_web = (t_ports.web if (t_ports.web is defined and t_ports.web is mapping) else {}) %}
{% set t_websec = (t_ports.websecure if (t_ports.websecure is defined and t_ports.websecure is mapping) else {}) %}
    ports:
      web:
        port: {{ t_web.port | default(8000) }}
        exposedPort: {{ t_web.exposedPort | default(80) }}
{% set web_fh = (t_web.forwardedHeaders if (t_web.forwardedHeaders is defined and t_web.forwardedHeaders is mapping) else {}) %}
{% set web_trusted = web_fh.trustedIPs | default(t_fh.trustedIPs | default([], true), true) %}
{% set web_insecure = web_fh.insecure | default(t_fh.insecure | default(false), true) %}
{% if web_trusted | length > 0 or web_insecure | bool %}
        forwardedHeaders:
          insecure: {{ web_insecure | bool | lower }}
{% if web_trusted | length > 0 %}
          trustedIPs:
{% for ip in web_trusted %}
            - {{ ip }}
{% endfor %}
{% endif %}
{% endif %}
{% if (t_web.nodePort | default(none)) is not none %}
        nodePort: {{ t_web.nodePort }}
{% endif %}
{% if (t_web.hostPort | default(none)) is not none %}
        hostPort: {{ t_web.hostPort }}
{% endif %}
      websecure:
        port: {{ t_websec.port | default(8443) }}
        exposedPort: {{ t_websec.exposedPort | default(443) }}
{% set websec_fh = (t_websec.forwardedHeaders if (t_websec.forwardedHeaders is defined and t_websec.forwardedHeaders is mapping) else {}) %}
{% set websec_trusted = websec_fh.trustedIPs | default(t_fh.trustedIPs | default([], true), true) %}
{% set websec_insecure = websec_fh.insecure | default(t_fh.insecure | default(false), true) %}
{% if websec_trusted | length > 0 or websec_insecure | bool %}
        forwardedHeaders:
          insecure: {{ websec_insecure | bool | lower }}
{% if websec_trusted | length > 0 %}
          trustedIPs:
{% for ip in websec_trusted %}
            - {{ ip }}
{% endfor %}
{% endif %}
{% endif %}
{% if (t_websec.nodePort | default(none)) is not none %}
        nodePort: {{ t_websec.nodePort }}
{% endif %}
{% if (t_websec.hostPort | default(none)) is not none %}
        hostPort: {{ t_websec.hostPort }}
{% endif %}
