# Managed by Ansible

{% if nginx_enable_gzip %}
gzip on;
gzip_vary on;
gzip_proxied any;
gzip_comp_level {{ nginx_gzip_comp_level }};
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_min_length {{ nginx_gzip_min_length }};
gzip_types
{% for mime_type in nginx_gzip_types %}
    {{ mime_type }}{{ ';' if loop.last else '' }}
{% endfor %}
{% endif %}
