[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=promtail
Group=adm
ExecStart={{ nginx_promtail_bin_path }} -config.file=/etc/promtail/config.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
