[Unit]
Description=GOST Tunnel Service
Documentation=https://gost.run
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
{% if node_gost_egress_guard %}
ExecStartPre=/usr/local/sbin/gost-egress-guard up
ExecStopPost=/usr/local/sbin/gost-egress-guard down
{% endif %}
ExecStart={{ node_gost_bin_path }} -C /etc/gost/config.yml
Restart=on-failure
RestartSec=5
LimitNOFILE={{ node_gost_limit_nofile }}
{% for key, value in node_gost_environment | dictsort %}
Environment="{{ key }}={{ value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
