[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
CapabilityBoundingSet=CAP_SYS_PTRACE
AmbientCapabilities=CAP_SYS_PTRACE

{% set _args = ['--web.listen-address=' ~ node_exporter_listen_address] %}
{% for collector in node_exporter_enabled_collectors %}
{% set _ = _args.append('--collector.' ~ collector) %}
{% endfor %}
{% for collector in node_exporter_disabled_collectors %}
{% set _ = _args.append('--no-collector.' ~ collector) %}
{% endfor %}
{% for arg in node_exporter_extra_args %}
{% set _ = _args.append(arg) %}
{% endfor %}
ExecStart={{ node_exporter_bin_path }} {{ _args | join(' ') }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
